.company-block {
    position: relative;
    padding-bottom: 163px;
    @media all and (max-width: 1320px) {
        padding-bottom: 80px;
    }
    .owl-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    .owl-dot {
        width: 12px;
        height: 5px;
        background: #fff !important;
        opacity: 0.8;
        border-radius: 20px;
        margin: 0 5px;
        transition: all .3s ease;
        &.active {
            background: #E7BA7A !important;
            width: 40px;
        }
    }
}
.company-block__in {
    padding-top: 13px;
}
.company-block__container {
    perspective: 1000px;
    transform-style: preserve-3d;
    position: relative;
}
.company-block__background {
    position: absolute;
    background: #e9e9e9;
    border-radius: 80px;
    top: -20px;
    bottom: 130px;
    left: 80px;
    right: 60px;
    z-index: -2;
    transform: rotateX(-1deg) rotateY(2deg) translateZ(-300px) scale(1.3);
    @media all and (max-width: 1500px) {
        left: 0;
        right: 0;
        top: 80px;
    }
    @media all and (max-width: 1320px) {
        transform: rotateX(-1.2deg) rotateY(-1deg) translateZ(-300px) scale(1.35) !important;
    }
}
.company-block__in h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #1B4379;
    padding-top: 119px;
    margin-bottom: 50px;
    @media all and (max-width: 1320px) {
        padding-top: 100px;
        margin-bottom: 30px;
        font-size: 36px;
        line-height: 54px;
    }
}
.company-block__in p {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #111;
}
.company-block__in img {
    border-radius: 20px;
    width: 100%;
    margin-bottom: 150px;
}
.brands-block {
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    @media all and (max-width: 1320px) {
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
    }
}
.brands-block__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1B4379 url('../img/sharp2.png') 50% 50% / 115% no-repeat;
    border-radius: 60px;
    top: 0;
    left: 0;
    z-index: -2;
    transform: rotateX(-1deg) rotateY(2deg) translateZ(-350px) scale(1.3);
    @media all and (max-width: 1320px) {
        transform: none !important;
    }
}
.brands-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 263px;
    @media all and (max-width: 1320px) {
        padding-left: 43px;
        padding-right: 43px;
        box-sizing: border-box;
        .owl-stage-outer {
            overflow: visible;
        }
    }
}
.brands-block h2 {
    color: #fff;
    margin-top: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}
.brands-block_in {
    max-width: 1165px;
    width: 100%;
    margin: 0 auto;
}
.brands-slider-item {
    background: rgba(217, 217, 217, 0.028);
    box-shadow: inset 15.2px -15.2px 15.2px rgba(165, 165, 165, 0.028), inset -15.2px 15.2px 15.2px rgba(255, 255, 255, 0.028);
    backdrop-filter: blur(17.936px);
    border-radius: 10px;
    padding: 20px 40px 13px;
    font-size: 0;
}
.brands-slider-item img {
    margin: 0;
}