/* вопросы */
.faq-block__item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
.faq-block__item {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-left: none;
    border-right: none;
}
.faq-block h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #fff;
    margin-bottom: 50px;
    margin-top: 0;
}
.faq-block__item-title span {
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
    color: #fff;
    display: inline-block;
    padding-top: 10px;
}
.faq-block__item .open {
    background: rgba(255, 255, 255, 0.02);
    box-shadow: inset 15.2px -15.2px 15.2px rgba(165, 165, 165, 0.028), inset -15.2px 15.2px 15.2px rgba(255, 255, 255, 0.028);
    backdrop-filter: blur(17.936px);
    border-radius: 10px;
    width: 40px;
    height: 40px;
}
.answer {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    max-width: 1286px;
    padding-bottom: 20px;
}