/* вопросы */
.faq-block__item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 8px;
}
.faq-block__item {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-left: none;
    border-right: none;
}
.faq-block h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #fff;
    margin-bottom: 50px;
    margin-top: 0;
    @media all and (max-width: 1320px) {
        font-size: 36px;
        line-height: 54px;
        margin-bottom: 30px;
        color: #FFFFFF;
    }
}

.faq-block__item-title span {
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
    color: #fff;
    display: inline-block;
}
.faq-block__item-title:hover,
.faq-block__item-title.isOpened {
    span {
        color: #E7BA7A;
    }
}
.faq-block__item-title.isOpened .plus {
    display: none;
}
.faq-block__item-title:not(.isOpened) .minus {
    display: none;
}
.faq-block__item .open {
    background: rgba(255, 255, 255, 0.02);
    box-shadow: inset 15.2px -15.2px 15.2px rgba(165, 165, 165, 0.028), inset -15.2px 15.2px 15.2px rgba(255, 255, 255, 0.028);
    backdrop-filter: blur(17.936px);
    border-radius: 10px;
    width: 40px;
    height: 40px;
}
.answer {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    max-width: 1286px;
    padding-top: 10px;    
    padding-bottom: 20px;
    display: none;
}