.services-block {
    margin-bottom: 170px;
    padding-top: 80px;
    position: relative;
}
.services-block-flex {
    display: grid;
    grid-template-columns: 452px 1fr;
    grid-gap: 21px;
    justify-content: space-between;
    max-width: 1381px;
    @media all and (max-width: 1320px) {
        display: block;
    }
}
.services-block-right img {
    width: 100%;
}
.services-block-left {
    display: grid;
    grid-gap: 10px;
    @media all and (min-width: 1321px) {
        .services-block-right {
            display: none !important;
        }
    }
}
.services-block-left ~ .services-block-right {
    @media all and (max-width: 1320px) {
        display: none !important;
    }
}
.services-block-left-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 36px 20px 20px;
    background: rgba(255, 255, 255, 0.02);
    box-shadow: inset 15.2px -15.2px 15.2px rgba(165, 165, 165, 0.028), inset -15.2px 15.2px 15.2px rgba(255, 255, 255, 0.028);
    backdrop-filter: blur(17.936px);
    border-radius: 20px;
    box-sizing: border-box;
    cursor: pointer;
    &.isActive {
        background: #E0A755;
        img {
            filter: brightness(10);
        }
    }
    @media all and (max-width: 1320px) {
        padding: 15px 20px;
    } 

}
.services-block-left-item img {
    width: 100px;
}
.services-block-left-item:last-child {
    margin-bottom: 0;
}
.services-block__in h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #fff;
    margin-bottom: 50px;
}
.services-block-left-item-price {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    width: calc(100% - 100px);
    box-sizing: border-box;
    padding-left: 10px;
}
.services-block-left-item-price .price {
    font-size: 16px;
    background: rgba(217, 217, 217, 0.028);
    box-shadow: inset 15.2px -15.2px 15.2px rgba(165, 165, 165, 0.028), inset -15.2px 15.2px 15.2px rgba(255, 255, 255, 0.028);
    backdrop-filter: blur(17.936px);
    border-radius: 10px;
    padding: 10px 0px;
    max-width: 140px;
    text-align: center;
    margin-top: 10px;
}
.services-block-left-item-price span {
    margin-bottom: 5px;
    display: inline-block;
}
.services-block-right {
    border-radius: 20px;
    padding: 20px 40px 40px 20px;
    background: rgba(255, 255, 255, 0.02);
    box-shadow: inset 15.2px -15.2px 15.2px rgba(165, 165, 165, 0.028), inset -15.2px 15.2px 15.2px rgba(255, 255, 255, 0.028);
    backdrop-filter: blur(17.936px);
    border-radius: 20px;
    &:not(.isActive) {
        display: none;
    }
}
.services-block-right-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px 18px 30px;
    background: #1B4379;
    border: 1px solid rgba(27, 67, 121, 0.11);
    box-shadow: inset 15.2px -15.2px 15.2px rgba(165, 165, 165, 0.028), inset -15.2px 15.2px 15.2px rgba(255, 255, 255, 0.028);
    backdrop-filter: blur(17.936px);
    border-radius: 10px;
    margin-top: 40px;
    @media all and (max-width: 1320px) {
        margin-top: 20px;
        flex-direction: column;
    } 
}
.services-block-right-form span {
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    line-height: 36px;
    @media all and (max-width: 1320px) {
        font-size: 18px;
        line-height: 150%;
    }
}
.services-block-right-form button {
    border-radius: 10px;
    color: #111;
    background: #fff;
    padding: 16px 30px;
    border: none;
    font-weight: 600;
    @media all and (max-width: 1320px) {
        width: 100%;
        margin-top: 20px;
    } 
}
.services-block-right-form button:hover {
    background: #E0A755;
    color: #fff;
    cursor: pointer;
}
.services-block-right-text {
    margin-top: 40px;
    @media all and (max-width: 1320px) {
        margin-top: 20px;
    }
}
.services-block-right-text h2 {
    font-weight: 500;
    font-size: 34px;
    line-height: 150%;
    color: #fff;
    margin: 0;
    @media all and (max-width: 1320px) {
        font-size: 28px;
        line-height: 150%;
    }
}
.services-block-right-text p {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #fff;
    @media all and (max-width: 1320px) {
        font-size: 16px;
        line-height: 150%;
    }
}
.services-block-right-text ul li {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    @media all and (max-width: 1320px) {
        font-size: 16px;
        line-height: 150%;
    }
}
.services-block-right-text ul {
    padding-left: 20px;
}