<div class="services-block">
    <div class="decor decor__second">
        <img src="img/decor.svg" width="100%" alt="">
    </div>
    <div class="decor decor__third">
        <img src="img/decor.svg" width="100%" alt="">
    </div>
    <div class="container">
        <div class="services-block__in">
            <h2 class="wow fadeInDown" data-wow-delay="0s">Наши услуги</h2>
            <div class="services-block-flex">
                <div class="services-block-left">
                    <div class="services-block-left-item isActive wow zoomIn" data-wow-delay="0s" data-opentab-id="0">
                        <img src="img/services.svg" alt="icon">
                        <div class="services-block-left-item-price">
                            <span>Корпоративные мероприятия</span>
                            <div class="price">от 25 000 ₽</div>
                        </div>
                    </div>
                    <div class="services-block-right isActive wow zoomIn" data-wow-delay="0s" data-tab-id="0">
                        <img src="img/services-big.png" alt="image">
                        <div class="services-block-right-form">
                            <span>Посчитаем стоимость за 2 часа</span>
                            <button type="submit">Заказать расчёт</button>
                        </div>
                        <div class="services-block-right-text">
                            <h2>Массовые мероприятия</h2>
                            <p>Не следует, однако, забывать, что граница обучения кадров говорит о возможностях новых предложений. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высокотехнологичная концепция общественного уклада предопределяет высокую востребованность поэтапного и последовательного развития общества.</p>
                            <ul>
                                <li>Не следует, однако, забывать, что граница обучения кадров говорит </li>
                                <li>Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого</li>
                            </ul>
                        </div>
                    </div>
                    
                    @@for (i = 1; i < 6; i++) {
                        <div class="services-block-left-item wow zoomIn" data-wow-delay="0.`+i+`s" data-opentab-id="`+ i +`">
                            <img src="img/services.svg" alt="icon">
                            <div class="services-block-left-item-price">
                                <span>Корпоративные мероприятия</span>
                                <div class="price">от 25 000 ₽</div>
                            </div>
                        </div>
                        <div class="services-block-right" data-tab-id="`+ i +`">
                            <img src="img/services-big.png" alt="image">
                            <div class="services-block-right-form">
                                <span>Посчитаем стоимость за 2 часа</span>
                                <button type="submit">Заказать расчёт</button>
                            </div>
                            <div class="services-block-right-text">
                                <h2>Массовые мероприятия</h2>
                                <p>Не следует, однако, забывать, что граница обучения кадров говорит о возможностях новых предложений. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высокотехнологичная концепция общественного уклада предопределяет высокую востребованность поэтапного и последовательного развития общества.</p>
                                <ul>
                                    <li>Не следует, однако, забывать, что граница обучения кадров говорит </li>
                                    <li>Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого</li>
                                </ul>
                            </div>
                        </div>
                    }
                </div>
                <div class="services-block-right">
                    <img src="img/services-big.png" alt="image">
                    <div class="services-block-right-form">
                        <span>Посчитаем стоимость за 2 часа</span>
                        <button type="submit">Заказать расчёт</button>
                    </div>
                    <div class="services-block-right-text">
                        <h2>Массовые мероприятия</h2>
                        <p>Не следует, однако, забывать, что граница обучения кадров говорит о возможностях новых предложений. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высокотехнологичная концепция общественного уклада предопределяет высокую востребованность поэтапного и последовательного развития общества.</p>
                        <ul>
                            <li>Не следует, однако, забывать, что граница обучения кадров говорит </li>
                            <li>Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого</li>
                        </ul>
                    </div>
                </div>
                <div class="services-block-right isActive wow zoomIn" data-wow-delay="0s" data-tab-id="0">
                    <img src="img/services-big.png" alt="image">
                    <div class="services-block-right-form">
                        <span>Посчитаем стоимость за 2 часа</span>
                        <button type="submit">Заказать расчёт</button>
                    </div>
                    <div class="services-block-right-text">
                        <h2>Массовые мероприятия</h2>
                        <p>Не следует, однако, забывать, что граница обучения кадров говорит о возможностях новых предложений. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высокотехнологичная концепция общественного уклада предопределяет высокую востребованность поэтапного и последовательного развития общества.</p>
                        <ul>
                            <li>Не следует, однако, забывать, что граница обучения кадров говорит </li>
                            <li>Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого</li>
                        </ul>
                    </div>
                </div>
                @@for (i = 1; i < 6; i++) {
                    <div class="services-block-right" data-tab-id="`+ i +`">
                        <img src="img/services-big.png" alt="image">
                        <div class="services-block-right-form">
                            <span>Посчитаем стоимость за 2 часа</span>
                            <button type="submit">Заказать расчёт</button>
                        </div>
                        <div class="services-block-right-text">
                            <h2>Массовые мероприятия</h2>
                            <p>Не следует, однако, забывать, что граница обучения кадров говорит о возможностях новых предложений. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высокотехнологичная концепция общественного уклада предопределяет высокую востребованность поэтапного и последовательного развития общества.</p>
                            <ul>
                                <li>Не следует, однако, забывать, что граница обучения кадров говорит </li>
                                <li>Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого</li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>