* {
    scroll-behavior: smooth;
}
a {
    color: #fff;
    text-decoration: none;
}
body {
    background: #283C85;
	font-family: 'FuturaPT';
    position: relative;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background:  url('../img/bg.png') 50% 0 / cover repeat;
        mix-blend-mode: multiply;

    }
}
.wrapper {
    position: relative;
    background:  url('../img/sharp.png') 50% 0 / cover repeat;
    z-index: 2;
    overflow: hidden;
}
.container {
    max-width: 1486px;
    padding-right: 40px;
    padding-left: 40px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    @media all and (max-width: 1320px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}


.owl-prev {
    margin-right: 20px;
}
.owl-next {
    transform: rotate(180deg);
}
.global__arrows,
.owl-nav {
    display: flex;
    align-items: center;
    
}
.owl-nav button.disabled {
    opacity: 0.5;
    pointer-events: none;
}
.owl-nav button,
.global__arrow {
    width: 40px;
    height: 40px;
    background: #1B4379 url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAyMiAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjA0MzI5IDBMMCA3TDcuMDQzMjkgMTRMOC40OTA2NyAxMi43NTk3TDMuNjEyNDMgNy45MTE0MUgyMlY2LjA4ODU5SDMuNjEyNDNMOC40OTA2NyAxLjI0MDMzTDcuMDQzMjkgMFoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=') 50% 50%/ 22px no-repeat;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    padding: 0;
}

.decor {
    position: absolute;
    width: 307px;
    height: 307px;
    font-size: 0;
    @media all and (max-width: 1320px) {
        width: 122px;
        height: 122px;
    }
    &__first {
        top: 784px;
        left: -115px;
    }
    &__second {
        top: -325px;
        right: -89px;
    }
    &__third {
        bottom: -327px;
        left: -89px;
    }
    &__fourth {
        bottom: -117px;
        right: -105px;
    }
    &__last {
        bottom: 137px;
        right: 50%;
        width: 206px;
    }
}