* {
    scroll-behavior: smooth;
}
a {
    color: #fff;
    text-decoration: none;
}
body {
    background: #3154B2;
	font-family: 'Futura PT Medium';
}
.container {
    max-width: 1416px;
    width: 100%;
    margin: 0 auto;
}