.places-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    @media all and (max-width: 1320px) {
        margin-bottom: 80px;
    }
}
.places-block-item {
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%), var(--background) 50% 50%/cover no-repeat;
    border-radius: 20px;
    padding: 32px 35px;
    box-sizing: border-box;
}
.places-and-cases-block {
    position: relative;
    padding-top: 123px;
    padding-bottom: 150px;
    overflow: hidden;
    z-index: 2;
    @media all and (max-width: 1320px) {
        padding-top: 76px;
    }
}
.places-and-cases-block__container {
    perspective: 1000px;
    transform-style: preserve-3d;
    position: relative;
    padding-top: 140px;
    @media all and (max-width: 1320px) {
        padding-top: 80px;
    }
}
.places-and-cases-block__in {
    position: relative;
    z-index: 15;
}
.places-and-cases-block__background {
    position: absolute;
    background: #e9e9e9;
    border-radius: 80px;
    top: 0;
    bottom: 0;
    left: 80px;
    right: 60px;
    z-index: -2;
    transform: rotateX(-1deg) rotateY(2deg) translateZ(-300px) scale(1.3);
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('../img/sharp2.png') 50% 50% / 115% no-repeat;
    }
    @media all and (max-width: 1500px) {
        left: 0;
        right: 0;
        top: 80px;
    }
    @media all and (max-width: 1320px) {
        transform: rotateX(-1.2deg) rotateY(-1deg) translateZ(-300px) scale(1.35) !important;
    }
}
.places-and-cases-block .title {
    color: #1B4379;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-top: 0;
    margin-bottom: 0;
    @media all and (max-width: 1320px) {
        font-size: 36px;
        line-height: 54px;
    }
}
.places-logo {
    background: rgba(255, 255, 255, 0.028);
    box-shadow: inset 15.2px -15.2px 15.2px rgba(165, 165, 165, 0.028), inset -15.2px 15.2px 15.2px rgba(255, 255, 255, 0.028);
    backdrop-filter: blur(17.936px);
    border-radius: 10px;
    max-width: 215px;
}
.places-logo img {
    margin: 0 auto;
    display: block;
    padding: 20px 40px;
}
.places-test h2 {
    font-size: 20px;
    font-weight: 600;
    color: #E7BA7A;
}
.places-test p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
.places-test {
    margin-top: 100px;
}
.cases-block-item p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    margin-top: 0;
}
.cases-block-item-slider {
    border-radius: 20px;
    .owl-stage-outer {
        font-size: 0;
        pointer-events: none;
        border-radius: 20px;
        overflow: hidden;
    }
    .owl-dots {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            width: 40px;
            height: 5px;
            margin: 0 10px;
            background: #fff;
            opacity: 0.8;
            border-radius: 20px;
            transition: all .3s ease;
            &.active {
                background: #E7BA7A;
                opacity: 1;
            }
        }
    }
}
.places-and-cases-block__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
    .owl-nav {
        margin-top: 0;
    }
}
.cases-block-item-slider img {
    width: 100%;
}
.title-block-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    @media all and (max-width: 1320px) {
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.title-block-slider h2 {
    max-width: 370px;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    @media all and (max-width: 1320px) {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }
}
.video span {
    color: #1B4379;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
}
.video {
    border-bottom: 2px solid #1B4379;
    padding-bottom: 6px;
    margin-bottom: 18px;
    @media all and (max-width: 1320px) {
        order: -1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }
}
.video img {
    margin-left: 20px;
}
.cases-block-item-slider p {
    color: #474747;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}
.slider-icons {
    background: #fff;
    padding: 17px 31px 0 31px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: inset 15.2px -15.2px 15.2px rgba(165, 165, 165, 0.028), inset -15.2px 15.2px 15.2px rgba(255, 255, 255, 0.028);
    backdrop-filter: blur(2.5px);
    border-radius: 10px;
}
.slider-icons-item {
    width: 28%;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    @media all and (max-width: 1320px) {
        width: 50%;
    }
}
.slider-icons-item span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #111111;
}
.slider-icons-item img {
    margin-right: 13px;
}
.form-block-first h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #1B4379;
    /* margin-left: 100px;
    padding-top: 103px;
    margin-top: 0; */
}
.form-block-first .form {
    max-width: 1200px;
    width: 100%;
    height: 310px;
    background: #7c7c7c;
    /* margin: 0 auto; */
}
.form-block-first {
    position: relative;
    /* margin-top: 160px; */
    perspective: 1000px;
    transform-style: preserve-3d;
    padding: 58px 100px 110px;
    top: 140px;
    @media all and (max-width: 1320px) {
        padding: 70px 30px;
    }
}
.form-block-first__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 60px;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotateX(1deg) rotateY(-2deg) translateZ(-300px) scale(1.3);
    /* padding-bottom: 101px; */
    @media all and (max-width: 1320px) {
        transform: rotateX(-1.1deg) rotateY(-3deg) translateZ(-350px) translateX(-20px) scale(1.35) !important;
    }
}

.owl-nav {
    margin-top: 20px;
    font-size: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}